<h2><pre>
    _______  ___      _______  ______   ___   _  _______  _______  __    _  _______  ______  
    |       ||   |    |   _   ||      | |   | | ||       ||       ||  |  | ||       ||      | 
    |  _____||   |    |  |_|  ||  _    ||   |_| ||   _   ||  _____||   |_| ||    ___||  _    |
    | |_____ |   |    |       || | |   ||      _||  | |  || |_____ |       ||   |___ | | |   |
    |_____  ||   |___ |       || |_|   ||     |_ |  |_|  ||_____  ||  _    ||    ___|| |_|   |
     _____| ||       ||   _   ||       ||    _  ||       | _____| || | |   ||   |___ |       |
    |_______||_______||__| |__||______| |___| |_||_______||_______||_|  |__||_______||______| 
</pre>
</h2>

<h1>
    Dobrodošli v programu sladkosned!
</h1>

<form action="/stanje/" method="GET">
    <input type="submit" value="Naslednja stran">
</form>












