<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<ul class="nav justify-content-end">
    <li class="nav-item">
        <form action="/sladkosned/" method="GET">
            <button type="submit" class="btn-danger btn-sm">
               Osnovna stran
            </button>
        </form>
    </li>
    <li class="nav-item">
        <form action="/stanje/" method="GET">
            <button type="submit" class="btn-danger btn-sm">
                Osebna beležka
            </button>
        </form>
    </li>
    <li class="nav-item">
        <form action="/analiza_podatkov/" method="GET">
            <button type="submit" class="btn-danger btn-sm">
                Analiza podatkov
            </button>
        </form>
    </li>
    <li class="nav-item">
        <form action="/pomoc/" method="GET" class="nav-link disabled">
            <button type="submit" class="btn-danger btn-sm">
                Pomoč
            </button>
        </form>
    </li>
  </ul>

<h1 class="title text-danger"> Pomoč pri uporabi programa</h1>
<h2 class="subtitle text-secondary">Tukaj se lahko uporabnik bolje seznani z vsemi možnostmi programa.</h2>

<p>
    Na strani <a href="izboljsana_stran">Osebna beležka</a> uporabnik doda svoje sladice, stroške in prodaje. 
    To naredi na sledeč način:
    <ol>
        <li>
            Doda vrsto prodaje 
            (npr. v gostilni, dostava na dom, neprodano, ...).
        </li>
        <li>
            Doda strošek; njegovo ime in znesek, ki naj bo preračunan na eno enoto sladice
            (npr. sestavine za eno torto)
        </li>
        <li>
            Šele potem lahko doda sladico.
            Najprej vnese ime sladice, datum je avtomatsko vnešen, 
            ceno ene enote sladice, izbere prodajo med tistimi, 
            ki jih je že sam prvotno dodal, 
            prav tako izbere strošek in vnese količino.
        </li>
        <li>
            Če želi dodati še neprodano sladico, 
            najprej doda novo prodajo <strong>neprodano</strong>,
            ostalo pa enako kot za vse sladice.
        </li>
        <li>
            Neprodano sladico lahko tudi proda, 
            in sicer med vsemi neprodanimi sladicami izbere tisto, 
            ki jo želi prodati. Potem vnese še vrsto prodaje in 
            količino sladice, ki jo želi prodati.
        </li>
    </ol>
</p>
<p>
    Na strani <a href="analiza_podatkov">Analiza podatkov</a> uporabnik vidi svoj dobiček, 
    vse prihodke in stroške.
    Prikazane so tudi posebej prodane in neprodane sladice, ter najpogostejša prodaja, 
    najdražja sladica in največji stroški.
    Ta stran je zgolj informativno, tukaj uporabnik nič ne vnaša.
</p>